{{#each this}}
  <div class='card-img'>
    <img src='{{flags.svg}}' alt='{{name.official}}' width='50' />
  </div>
  <h2 class='card-title'>{{name.official}}</h2>
  <div class='card'>
    <div class='card-body'>
      <p class='card-text'><b>Capital:</b> {{capital}}</p>
      <p class='card-text'><b>Population:</b> {{population}}</p>
      <ul class='languages-list'><b>Languages:</b>
        {{#each languages}}
          <li class='languages-item'>{{this}}</li>
        {{/each}}
      </ul>
    </div>

  </div>
{{/each}}